<div class="container">
<div class="row">
  <div class="col-md-6">
    <h3>Welcome to {{ title }}!</h3>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <a class="nav-link" routerLink='/register' [routerLinkActive]="['bg-warning']">Signup</a>
      </div>
      <div class="col-md-3">
        <a class="nav-link" routerLink='/userinfo' [routerLinkActive]="['bg-warning']">Login/UserInfo</a>
      </div>
      <div class="col-md-3">
        <a class="nav-link" routerLink='/logout' [routerLinkActive]="['bg-warning']" (click)="logout()">Logout</a>
      </div> 
    </div>
  </div>
</div> 
<router-outlet></router-outlet>
</div>
